<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="Chat">
        <div id="ChatBox" v-if="loggedIn">
            <div class="col-md-9 ChatBox__Left">
                <div class="ChatBox__List">
                    <div class="Message">
                        <div class="Message--Alert">
                            <strong>{{ data.message }}</strong>
                        </div>

                        <div class="Message--Message">
                            <p class="Message__Author">
                                <strong>{{ data.username }}</strong> said,
                                {{ data.timestamp }}
                            </p>

                            <p class="Message__Content">
                                {{ data.message }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="ChatBox__Input">
                    <form  action="/" method="post">
                        <input type="text" v-model="newMessage" placeholder="Enter your message here">
                    </form>
                </div>
            </div>

            <div class="col-md-3 ChatBox__Right">
                <h3>Online Users</h3>

                <ul class="ChatBox__OnlineUsers">
                    <li >
                        test

    <!--                    <a href="#" :data-username="user" @click="kickUser" v-if="isAdmin">[ kick ]</a>-->
                    </li>
                </ul>
            </div>
        </div>
        <div id="Chat__Login" v-else>
            <form @submit.prevent="login()">
                <input type="text" v-model="username" placeholder="Enter your username...">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
    <script>
        var socket = new WebSocket("ws://localhost:8999")

        socket.onmessage = function (ev) {
            if (ev.data instanceof Blob) {
                var reader = new FileReader()
                reader.onload = function() {
                    var json = JSON.parse(reader.result)
                    processJson(json)
                }
                reader.readAsText(ev.data)
            }
        }
        
        var myViewModel = new Vue({
            el: '#Chat',
            data: {
                username: '',
                loggedIn: false,
            },
            methods: {
                login() {
                    var loginMessage = {
                        '@class': 'com.desdulianto.learning.imvertx.packet.LoginMessage',
                        username: this.username,
                        password: ''
                    }
                    socket.send(JSON.stringify(loginMessage))
                    this.username = ''
                    this.loggedIn = true
                }
            }
            
        });

        function processJson(json) {
            var clazz = json['@class']
            handlers = [
                {
                    '@class':
                        'com.desdulianto.learning.imvertx.packet.LoginNotification',
                    handler: loginNotif
                }
            ]

            var handler = handlers.find(function(x) {return x['@class'] === clazz})
            if (handler !== undefined)
                handler.handler(json)
            else
                // buka web developer tool web console
                console.log(json)
        }

        function loginNotif(json) {
            alert(json.user.username + ' becomes online')
        }

        function sendMessage() {
            var text = this.myViewModel.username
            var loginMessage = {
                '@class': 'com.desdulianto.learning.imvertx.packet.LoginMessage',
                username: text,
                password: ''
            }
            socket.send(JSON.stringify(loginMessage))
            myViewModel.username = ''
        }
    </script>
</body>
</html>