<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="Chat">
        <chat-box :online-users="onlineUsers" 
            :conversation="conversation" 
            @add="addConversation" 
            v-if="loggedIn">
        </chat-box>
        <div id="Chat__Login" v-else>
            <form @submit.prevent="login()">
                <input type="text" v-model="username" placeholder="Enter your username...">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
    <script type="text/x-template" id="chat-box">
        <div id="ChatBox">
            <div class="col-md-9 ChatBox__Left">
                <div class="ChatBox__List">
                    <div class="Message" >
<!--                        v-for="(message, index) in messages"
                        v-bind:style="username === message.username ? {text-align: right} : {}">-->
                        <div class="Message--Message">
                            <p class="Message__Author">
                                <strong>username</strong> said,
                                timestamp
                            </p>

                            <p class="Message__Content">
                                message
                            </p>
                        </div>
                    </div>
                </div>

                <div class="ChatBox__Input">
                    <form @submit.prevent="sendMessage()">
                        <input type="text" v-model="newMessage" placeholder="Enter your message here">
                    </form>
                </div>
            </div>

            <div class="col-md-3 ChatBox__Right">
                <h3>Online Users</h3>

                <ul class="ChatBox__OnlineUsers">
                    <li v-for="user in onlineUsers" @click="selectConversation(user)">
                        {{ user.username }}
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script>
        var socket = new WebSocket("ws://localhost:8999")
        
        var Chat = new Vue({
            el: '#Chat',
            data: {
                username: '',
                loggedIn: false,
                onlineUsers: [],
                conversation: []
            },
            created() {
                var self = this;
                socket.onmessage = function (ev) {
                    if (ev.data instanceof Blob) {
                        var reader = new FileReader()
                        reader.onload = (function(self) {
                            return function() {
                                var json = JSON.parse(reader.result)
                                self.processJson(json)
                            }
                        })(self)
                        reader.readAsText(ev.data)
                    }
                }
            },
            methods: {
                processJson(json) {
                    var clazz = json['@class']
                    handlers = [
                        {
                            '@class':
                                'com.desdulianto.learning.imvertx.packet.LoginNotification',
                            handler: this.loginNotif
                        },
                        {
                            '@class':
                                'com.desdulianto.learning.imvertx.packet.OnlineUsers',
                            handler: this.refreshUserList
                        },
                        {
                            '@class':
                                'com.desdulianto.learning.imvertx.packet.ConversationMessage',
                            handler: this.addConversation
                        }
                        
                    ]

                    var handler = handlers.find(function(x) {return x['@class'] === clazz})
                    if (handler !== undefined)
                        handler.handler(json)
                    else
                        // buka web developer tool web console
                        console.log(json)
                },
                login() {
                    var loginMessage = {
                        '@class': 'com.desdulianto.learning.imvertx.packet.LoginMessage',
                        username: this.username,
                        password: ''
                    }
                    socket.send(JSON.stringify(loginMessage))
                    this.loggedIn = true
                },
                loginNotif(json) {
                    var listOnlineUsersMessage = {
                        '@class': 'com.desdulianto.learning.imvertx.packet.ListOnlineUsersMessage'
                    }
                    socket.send(JSON.stringify(listOnlineUsersMessage))
                },
                refreshUserList(json) {
                    this.onlineUsers = [...json.users]
                },
                addConversation(message) {
                    this.conversation.push(message)
                }
                
            }
            
        });
        
        Vue.component('chat-box', {
            template: '#chat-box',
            props: ['onlineUsers', 'conversation'],
            data() {
                return {
                    newMessage: '',
                    selected: '',
                }
            },
            methods: {
                sendMessage () {
                    if (this.selected === '') alert('select user')
                    var conversationMessage = {
                        '@class': 'com.desdulianto.learning.imvertx.packet.ConversationMessage',
                        message: this.newMessage,
                        from: this.username,
                        to: this.selected
                    }
                    console.log(conversationMessage)
                    this.$emit('add', conversationMessage)
                    socket.send(JSON.stringify(conversationMessage))
                    <!--this.loggedIn = true-->
                },
                selectConversation (user) {
                    this.selected = user.username
                }
            },
            computed: {
                username () {
                    return Chat.username
                },
                messages () {
                    return [];
                }
            }
        });

    </script>
</body>
</html>